@{
    ViewData["Title"] = "Access Denied";
}
<div style="min-height: 495px">
    <h1>Access Denied!</h1>
    <h3>You are not Authorized To Access this page or perform this action</h3>
    <a class="btn btn-info" asp-controller="Animal" asp-action="Index">Home</a>
    <a class="btn btn-info" asp-controller="Animal" asp-action="Catalog">Catalog</a>
</div>

