@using CyberpunkPets.Models;
@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<h1>Login:</h1>
<div style="min-height: 495px">
        <div class="container-fluid">
            <form method="post" asp-action="PostLogin" class="card">
                <div>
                    <label asp-for="Username" class="control-label">Username</label>
                    <input asp-for="Username" class="form-control" style="font-family:'Segoe UI'" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" style="font-family:'Segoe UI'" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <input type="submit" value="Login" class="btn btn-info" />
            </form>
        </div>
    </div>

