@using CyberpunkPets.Models;
@model Category

<div>
    <form asp-action="AddCategory" method="post" class="addCategoryForm">
        <h4>Add A Category:</h4>
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
        <label>
            <span asp-validation-for="Name" class="text-danger"></span>
        </label>
        <br>
        <button type="submit" class="btn btn-primary">Add New Category</button>
    </form>
</div>