@using CyberpunkPets.Models;
@model Category

@{
    var categories = ViewBag.Categories as IEnumerable<Category>;
}

    <form class="categoryFilter-form">
        <select asp-for="CategoryId" class="form-control">
            <option value="0">All Animals</option>
            @foreach (var item in categories!)
            {
                <option value="@item.CategoryId">@item.Name</option>
            }
        </select>
    </form>

<script>
    const form = document.querySelector(".categoryFilter-form");
    const select = form.querySelector("select");

    select.addEventListener("change", () => { //add event to each select so on selection the form will submit
        form.submit();
    });
</script>

